.navbar
{
    display: flex;
    justify-content:space-between;
    height: 100px;
    background-color: rgb(171, 128, 128);
    margin: 10px 0;
}

.links{
    display: flex;
    align-items:center ;
    margin: auto;

}

.links a {
    text-decoration: none;
    color: black;
    font-size: 52px;
    font-family: monospace;

}